<head>
    <title>i.marcusj.tech - simple, anonymous, and free</title>
    <link rel="stylesheet" href='/assets/upload.css'>
    
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:300,300italic,700,700italic">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.1/normalize.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/milligram/1.4.0/milligram.css">

    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" type="image/svg+xml" sizes="48x48" href="https://marcusj.tech/assets/img/fashion.svg?h=dc3a468180f67681a58667c460707efd">
    <script defer src="https://analytics.marcusj.tech/analytics.js"></script>
</head>
<body>
    <!---
    I don't know how to write HTML,
    I am very sorry for what you are about to witness,
    I just hope to god it looks half-decent,

    Amen.
    --->
    <div id="container">
        <h1><a href='/'>i.marcusj.tech</a></h1>
        <img id='imageURL' src='/image/{{ uuid }}'></img><br>
        <a href='/shorten/{{ uuid }}'>Shorten link</a><br>
        <a href='/image/{{ uuid }}/.png'>Image URL</a>
    </div>
</body>